Body {
    margin:0;
    padding: 0;
    background-color: rgb(217, 227, 243);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#Navbar {
    background-color: rgb(180, 215, 247);
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#robô {
    bottom: 20px;  
    right: 20px;   
    width: 200px; 
    height: auto; 
    z-index: 10 
}
.img {
    bottom: 20px;  
    right: 20px;   
    width: 200px; 
    height: auto; 
    z-index: 10 
}
